export(DE.ranking)
export(DiscNULLrow)
export(IUTest)
export(IUTtse)
export(IUTtsi)
export(Necorr)
export(ScalN)
export(TSE)
export(TSI)
export(cor.matrix.NECorr)
export(expand.grid.unique)
export(factOrg)
export(fishersMethod)
export(gini)
export(giniR)
export(indexing.network)
export(multiCorr)
export(ts.IUT)
export(necorr_graph)
import(Biobase)
import(limma)
import(stats)
import(tibble)
import(purrr)
import(dplyr)
import(plyr)
import(data.table)
useDynLib(NECorr, .registration=TRUE)
importFrom(Rcpp, evalCpp, sourceCpp)
exportPattern("^[[:alpha:]]+")
importFrom(RcppParallel,RcppParallelLibs,setThreadOptions)
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf")
importFrom("utils", "read.csv", "read.delim", "read.table",
           "write.csv", "write.table")
importFrom("Biobase", "ExpressionSet")
importFrom("limma", "eBayes", "topTable", "contrasts.fit", "makeContrasts",
           "lmFit")
importFrom("foreach", "foreach", "%dopar%")
importFrom("klaR", "NaiveBayes")
importFrom("parallel", "makeCluster", "stopCluster")
importFrom("doSNOW","registerDoSNOW")
importFrom("hash", "hash", "has.key")
importFrom("igraph", "degree", "graph.data.frame", "betweenness", "evcent",
           "V", "page.rank", "transitivity", "layout.fruchterman.reingold")
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf")
importFrom("stats", "complete.cases", "model.matrix", "pchisq", "cor.test",
           "predict", "qt", "var")


