export(DE.ranking)
export(DiscNULLrow)
export(IUTest)
export(IUTtse)
export(IUTtsi)
export(Necorr)
export(ScalN)
export(TSE)
export(TSI)
export(expand.grid.unique)
export(factOrg)
export(fishersMethod)
export(gini)
export(giniR)
export(indexing.network)
export(multiCorr)
export(ts.IUT)
export(ScalN)
import(tibble)
import(purrr)
useDynLib(NECorr, .registration=TRUE)
importFrom(Rcpp, evalCpp, sourceCpp)
exportPattern("^[[:alpha:]]+")
importFrom(RcppParallel,RcppParallelLibs,setThreadOptions)
importFrom(scales, rescale)
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf")
importFrom("utils", "read.csv", "read.delim", "read.table",
           "write.csv", "write.table")
importFrom(dplyr, combine, left_join)
importFrom("Biobase", "ExpressionSet")
importFrom("limma", "eBayes", "topTable", "contrasts.fit", "makeContrasts",
           "lmFit")
importFrom(data.table, setDT, .SD)
importFrom("klaR", "NaiveBayes")
importFrom("parallel", "makeCluster", "stopCluster")
importFrom("hash", "hash", "has.key")
importFrom("igraph", "degree", "graph.data.frame", "betweenness", "evcent",
           "V", "page.rank", "transitivity", "layout.fruchterman.reingold")
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf")
importFrom(stats, complete.cases, model.matrix, pchisq, cor.test,
           predict, qt, var)
